.btn-secondary{
    background-color: #486691;
    border-color: #486691;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: black;
    background-color: #ffc106;
    border-color: #ffc106;
}

.dropdown-item:hover {
    background-color: #486691;
    color: white;
    
}