
<h1>Gestionale Ristorante</h1>

<div id="box" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img id="img" src="/assets/img/first.jpg" class="d-block w-100" alt="img">
      </div>
      <div class="carousel-item">
        <img id="img" src="/assets/img/sec.jpg" class="d-block w-100" alt="img">
      </div>
      <div class="carousel-item">
        <img id="img" src="/assets/img/thr.jpg" class="d-block w-100" alt="img">
      </div>
    </div>
  </div>

                            <!-- ********** FOOTER *********** -->

