.w-100 {
    width: 50%!important;
}

#box {
    width: 1000px!important; /*largezza del blocco*/
  height:1000px!important; /*indichimo altezza del blocco*/
  transform: translate(-50%, -50%)!important;
  position: absolute!important; 
  top: 80%!important; 
  left: 60%!important;
  }

  #img{
    border-radius: 10px 10px 10px 10px;
  }

  