.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
 }
 
 .title {
   color: grey;
   font-size: 18px;
 }
 
 button {
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
   font-family: Gill Sans, sans-serif;
 }
 

 
 

 h1,h2{
    margin-top: 40px;
    font-family: Gill Sans, sans-serif;
 }

 .name{
    margin: 10px!important;
 }

 .notFound{
  color: #486691; 
  font-family: Gill Sans, sans-serif;
  font-size: 75px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  margin-top: 230px;
}

