

  
  table {
    margin-top: 55px;
    text-align: center;
    border-radius: 30px;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
  }

  .table-bordered td, .table-bordered th {
    border: 0px solid #dee2e6;
}

  
  .table td, .table th {
    padding: .75rem;
    vertical-align: inherit;
  }
  
  #btnAdd {
      margin-top: 55px;
      position: fixed;
    
  }
  
  h1 { 
    color: #486691; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    margin-top: 20px;
  }

