input.ng-invalid, textarea.ng-invalid, select.ng-invalid  {
    border: 3px solid red;
    border-color:red;
}

input.ng-valid,textarea.ng-valid, select.ng-valid  {
    border: 3px solid green;
    border-color: green;
}

input.ng-pristine,textarea.ng-pristine, select.ng-pristine  {
    border: 1px solid grey;
    border-color: grey;
}

button{
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
}

.container {
      display: flex;
      flex-direction: column;
      align-items: center;
}

label,input,select{
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
}

#back{
    margin-left: 5px;
}

#desc{
    margin-bottom: 10px;
}

h2{
    font-family: Gill Sans, sans-serif;
    font-size: 50px;
}